<div class="card" style="width: 18rem;">
  <div class="card-body">

    <!-- Header Container: Name and Episode -->
    <div class="card-header-container">
      <!-- Name & Episode -->
      <div class="col-6">
        <span class="card-name">
          {{dataCarde.name}}
        </span>
        <span class="card-episode">{{dataCarde.episode}}</span>
      </div>
    </div>

    <!-- Air Date -->
    <div class="col-4">
      <span>{{dataCarde.air_date}}</span>
    </div>

    <!-- Button to View More Details -->
    <div>
    </div>
  </div>
</div>