
.card{
  margin: 40px 0px 40px 0px;
  width: 279px;
  min-height: 489px;
}

.card-body{
  margin-top: 35px;
}

.card-title{
  width: 40%;
  height: 45px;
  background-color: #eff1f6;
  border-radius: 5px;
}

.button-body{
  margin-top: 20px;
  width: 120px;
  background-color: #eff1f6;
  height: 40px;
  border-radius: 5px;
}
