  <div class="card">
    <ngx-skeleton-loader appearance="custom-content" style="height: 169px; background-color: #eff1f6;"></ngx-skeleton-loader>
    <div class="card-body" style="display: flex;justify-content: space-between;flex: content;flex-direction: column;">
      <div class="d-flex justify-content-between" id="card-title-container">
        <div class="card-title">
          <ngx-skeleton-loader [appearance]="'custom-content'"></ngx-skeleton-loader>
        </div>
        <div  class="card-title">
          <ngx-skeleton-loader [appearance]="'custom-content'"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="d-flex justify-content-start" style="height: 100%;">
        <div class="button-body">
          <ngx-skeleton-loader [appearance]="'custom-content'"></ngx-skeleton-loader>
        </div>
      </div>

    </div>
  </div>
